<%= render "partials/nonadminnavbar" %>


<h1>Users</h1>

<table>
  <thead>
    <tr>
        <th>User Email</th>
        <th>User Name</th>
        <th>User Roles</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody class="container text-center justify-contents-center">

    
    <% @users.each do |user| %>

  <tr > 
    <td class="col" style="width: 100px;"><%= user.email %></td>
    <td class="col" style="width: 100px;"><%= user.username %></td>
    <td class="col" style="width: 200px;"><%= user.roles.pluck(:name) %></td>
    <td class="col" style="width: 100px;"><%= link_to 'Edit', edit_user_path(user) %></td>
  </tr>

  <% end %>
  


