<p id="notice"><%= notice %></p>

<%= render "partials/navbar" %>



<h1>Races</h1>

<table>
  <thead>
    <tr>
      <th>Race date</th>
      <th>Race course</th>
      <th>Race number</th>
      <th>Horse</th>
      <th>Race length</th>
      <th>Prize money</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="container text-center">
    <% @races.each do |race| %>
        <td class="col" style="width: 100px;"><%= race.race_date %></td>
        <td class="col" style="width: 100px;"><%= race.race_course_id %></td>
        <td class="col" style="width: 100px;"><%= race.race_number %></td>
        <td class="col" style="width: 100px;"><%# race.horse_id %></td>
        <td class="col" style="width: 100px;"><%= race.race_length %></td>
        <td class="col" style="width: 100px;"><%= race.prize_money %></td>
        <td class="col" style="width: 100px;"><%= link_to 'Show', race %></td>
        <td class="col" style="width: 100px;"><%= link_to 'Edit', edit_race_path(race) %></td>
        <td class="col" style="width: 100px;"><%= link_to 'Destroy', race, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race', new_race_path %>
